/* About.css */
.about-us {
    /* padding: 20px; */
    /* margin-top: 70px; */
    background-color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .section-content1 p.hii{
      font-size: 15px;
    }
    .section-content1 h2.hii{
      font-size: 25px;
    }
    .section-content2 div.hii{
      font-size: 15px;
    }
  }
  
  .section-content {
    max-width: 1750px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    font-size: 16px; /* Add a default font size */
  }
  
  
  .mission-image {
    max-width: 100%; /* Set a maximum width for the image */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
  }
  .red-arrow-list {
    list-style-type: none;
    padding: 0;
  }
  
  .red-arrow-list div {
    margin-bottom: 15px;
    color: #fff; /* Set the text color to white */
  }
  
  .red-arrow-list div span {
    margin-right: 8px;
    color: #ff0000; /* Set the arrow color to red */
  }
  .company-info-section {
    /* background-color: #fff; */
    color: #ffffff;
    background-color: #000;
    font-size: 12px;
  }
 
  .section-content1 {
 
    max-width: 1750px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
  }
  .section-content2 {
 
    max-width: 1750px;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
  }
 
  h2 {
    margin-bottom: 20px;
  }
  
 
