/* Home.css */
.home {
  overflow-x: hidden;
}
.body {
  overflow-x: hidden;
}


.background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200vh;
  width: 100%;
  margin: 0; 
  padding: 0; 
  touch-action: none;
}

/* remove overlay image */

.overlay-text2 {
  position: absolute;
  top: 30%;
  left: 4.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 80px;
  font-family:'Montserrat', sans-serif;
  
}

@media screen and (max-width: 768px) {
  .overlay-text2 {
    top: 20%;
    /* left: 50%; Adjusted for centering on mobile */
    transform: translate(-50%, -50%);
    font-size: 30px; 
  }
}

.overlay-text {
  position: absolute;
  top: 800px;
  left: 100px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .overlay-text {
    /* bottom: 85%; 
    left: 65%; */

    top: 170%;
    left:2%;
    /* right: 40%; */
    /* transform: translate(-50%, -50%); */
    font-size: 10px;
  }
}

.overlay-text h3 {
  position: relative;
  right: 20px; 
  -webkit-text-stroke: 2px #000; 
  text-stroke: 2px #000; 
  color: white;
  display: inline-block;
  font-size: 60px;
}


@media screen and (max-width: 768px) {
  .overlay-text h3 {
    font-size: 40px; 
  }
}

.overlay-text li {
  font-size: 35px;
}


@media screen and (max-width: 768px) {
  .overlay-text li {
    font-size: 24px; 
  }
}

.overlay-text ol {
  text-align: left;
  margin-left: 20px;
  font-size: 44px;
}


@media screen and (max-width: 768px) {
  .overlay-text ol {
    font-size: 30px; 
  }
}

.overlay-text p.overlay-text1 {
  margin-top: 20px;
  font-style: italic;
  font-size: 22px;
  position: relative;
  top: 700px;
}


@media screen and (max-width: 768px) {
  .overlay-text p.overlay-text1 {
    font-size: 16px; 
    top: 15%; 
    left: 15%;
  }
}

.strike-through {
  text-decoration: line-through;
  text-decoration-color: red;
  font-style: italic;
  display: inline-block;
}
.overlay-text:after {
  content: "";
  display: block;
  height: 100px;
}
