/* Home.css */

.home {
  overflow-x: hidden;
}


.background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2200px; /* Set the height to 100% of the viewport height */
  width: 1800px;
}

.overlay-image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1300px; /* Adjust the width of the overlay image as needed */
  height: 300px; /* Adjust the height of the overlay image as needed */
}
.overlay-text2 {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 80px; /* Adjust the font size as needed */
  font-family:'Montserrat', sans-serif;
  
}

.strike-through {
  text-decoration: line-through;
  text-decoration-color: red;
  font-style: italic;
}
.overlay-text {
  position: absolute;
  top: 900px; /* Adjusted to 100px from the bottom */
  left: 20px; /* Adjusted to 70px from the left */
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.overlay-text h3{
  position: relative;
  right: 20px; /* Adjusted to 70px from the left */
  -webkit-text-stroke: 2px #000; /* WebKit/Blink browsers */
  text-stroke: 2px #000; /* Standard syntax */
  color: white; /* Set the text color (fill) to white */
  display: inline-block; /* Ensure the border surrounds the text content */
  font-size: 60px

}
.overlay-text li{
  font-size: 35px;
}

.overlay-text ol {
  text-align: left;
  margin-left: 20px;
  font-size: 44px;
}

/* .overlay-text p {
  margin-top: 20px;
  font-style: italic;
  font-size: 22px;
} */
.overlay-text p.overlay-text1 {
  margin-top: 20px; /* Adjust the margin-top as needed to move it downwards */
  font-style: italic;
  font-size: 22px;
  position: relative;
  top: 700px;
}