/* Home.css */

.home {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
.body {
  overflow-x: hidden;
  background-color: black;
}
}
.body {
  overflow-x: hidden;
  background-color: black;
}

.background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200vh;
  width: 100%;
  margin: 0; 
  padding: 0; 
  touch-action: none;
}

/* remove overlay image */

.overlay-text2 {
  position: absolute;
  top: 25%;
  left: 13%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 65px;
  font-family:'Montserrat', sans-serif;
  
}

@media screen and (max-width: 768px) {
  .overlay-text2 {
    top: 20%;
    right: 10%;
    transform: translate(-50%, -50%);
    font-size: 27px; 
  }
}

.overlay-text {
  position: absolute;
  top: 800px;
  left: 100px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .overlay-text {
    font-size: 20px;
    top: 160%;
    left:2%;
    transform: translate(-50%, -50%);
    
  }
}

.overlay-text h3 {
  position: relative;
  right: 20px; 
  -webkit-text-stroke: 2px #000; 
  text-stroke: 2px #000; 
  color: white;
  display: inline-block;
  font-size: 60px;
}


@media screen and (max-width: 768px) {
  .overlay-text h3 {
    font-size: 40px; 
  }
}

.overlay-text li {
  font-size: 35px;
}


@media screen and (max-width: 768px) {
  .overlay-text li {
    font-size: 24px; 
  }
}

.overlay-text ol {
  text-align: left;
  margin-left: 20px;
  font-size: 44px;
}


@media screen and (max-width: 768px) {
  .overlay-text ol {
    font-size: 30px; 
  }
}


.strike-through {
  text-decoration: line-through;
  text-decoration-color: red;
  font-style: italic;
  display: inline-block;
}
.overlay-text:after {
  content: "";
  display: block;
  height: 100px;
}
