<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title></title>
  <link rel="stylesheet" href="path/to/your/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-c5R1vBC3kjpGBuCECA0lN4C3moE2pA/HKddj4RxoFeoK4FaT1E5dQimHl+u8SZHlwnQhf4Et9tF42rFi+7zv+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Include AOS library -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-X6rA1qtdR8o+j2C4JQeWTdjVKgxMFcfQPf4LPAenGNlA0bYpH5ZAsnrLD/zbshTyPULOMVu8QYfb9UmLem8bCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-8b2P6Ft+xAMjN4nXj3eMfevibN8IoRHbNc1x3cj+3yGHrN2w6XRfrIaVczR7umznu+iC62pfjNeQ8iB2HfBtUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  
</style>


</head>

<body>
  <div id="root"></div>
  
  <script src="path/to/your/react/bundle.js"></script>
</body>
</html>
