/* Solutions.css */

.solutions {
  margin-bottom: 0;
  padding: 20px; /* Adjust padding for better spacing on mobile */
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .navigation1 a.hii {
    font-size: 15px;
  }
  .charger-section1 h2.hii,
  .charger-section h2.hii,
  .charger-section p.hii,
  .charger-section div.hii,
  .section-content2 div.hii {
    font-size: 15px;
  }
}

.navigation1 {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin for better separation on mobile */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.navigation1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 15px; /* Adjust padding for better spacing on mobile */
  margin: 10px; /* Adjust margin for better spacing on mobile */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px; /* Adjust font size for better readability on mobile */
}

.navigation1 a:hover {
  text-decoration: underline;
}

#energy-service {
  padding: 0;
}

.charger-section {
  margin-bottom: 50px;
  padding: 20px;
}

.intro {
  text-align: left;
  padding: 20px;
  color: #fff;
  background-color: #d7d0d0;
}

.intro h2 {
  font-size: 50px; /* Adjust font size for better display on mobile */
}

.intro1 {
  text-align: left;
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px; /* Adjust font size for better display on mobile */
}
.fill-screen-image {
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Set a maximum width for the image */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px;
  
}


.text-content {
  flex: 1;
  font-size: 18px; /* Adjust font size for better display on mobile */
  color: #da2727;
  text-align: left;
}

/* Additional styling for the "Energy as a service" text */
@media (max-width: 768px) {
  .intro {
    text-align: center;
  }
}

h2 {
  font-size: 40px; /* Adjust font size for better display on mobile */
}

.red-arrow-list {
  list-style-type: none;
  padding: 0;
}

.red-arrow-list div {
  margin-bottom: 15px;
  font-size: 18px; /* Adjust font size for better display on mobile */
  color: #fff;
}

.red-arrow-list div span {
  margin-right: 8px;
  color: #ff0000;
}




