/* Solutions.css */

.solutions {
  margin-bottom: 0;
  padding: 20px;
  background-color: #000000;
}

@media screen and (max-width: 968px) {
  .navigation1 a.hii1 {
    font-size: 15px;
  }
  
  .charger-section div.hii1,
  .section-content3 div.hii1,
  .section-content4 div.hii1 {
    font-size: 22px;
  }
  .section-content4 div.hii1{
    font-size: 20px;
  }

}
.text-content {
  max-width: 55%;
  font-size: 18px;
  color: #da2727;
  text-align: left;
}

.section-content3 {
  max-width: 1750px;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  font-size: 39px; /* Add a default font size */
}
.section-content4 {

  max-width: 1750px;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  font-size: 19px; 
  
}

.navigation1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.navigation1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.navigation1 a:hover {
  text-decoration: underline;
}

#energy-service {
  padding: 0;
}


.intro {
  text-align: left;
  padding: 20px;
  color: #fff;
  background-color: #d7d0d0;
}

.intro h2 {
  font-size: 40px;
  margin-bottom: 10px;
}


/* Additional styling for the "Energy as a service" text */
@media (max-width: 768px) {
  .intro {
    text-align: center;
  }
}

h2 {
  font-size: 55px;
}

.red-arrow-list1 {
  list-style-type: none;
  padding: 0;
}

.red-arrow-list1 div {
  margin-bottom: 10px;
  font-size: 22px;
  color: #fff;
}

.red-arrow-list1 div span {
  margin-right: 4px;
  color: #ff0000;
}


.section-content {
  max-width: 1750px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  font-size: 16px; /* Add a default font size */
}


.mission-image {
  max-width: 100%; 
  display: block; 
  margin: 0 auto; 
  margin-top: 20px;
}

.company-info-section {
  color: #ffffff;
  background-color: #000;
  font-size: 36px;
}


